In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('IRIS.csv')

In [3]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [6]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [7]:
df['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [8]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [9]:
df['SepalLengthCm'] = df['SepalLengthCm'].fillna(df['SepalLengthCm'].mean())
print(f"Mean of 'sepal_length': {df['SepalLengthCm'].mean()}")

Mean of 'sepal_length': 5.843333333333334

In [10]:
df['SepalWidthCm'] = df['SepalWidthCm'].fillna(df['SepalWidthCm'].mean())
print(f"Mean of 'sepal_width': {df['SepalWidthCm'].mean()}")

Mean of 'sepal_width': 3.0540000000000003

In [11]:
df['PetalLengthCm'] = df['PetalLengthCm'].fillna(df['PetalLengthCm'].mean())
print(f"Mean of 'petal_length': {df['PetalLengthCm'].mean()}")

Mean of 'petal_length': 3.758666666666666

In [12]:
df['PetalWidthCm'] = df['PetalWidthCm'].fillna(df['PetalWidthCm'].mean())
print(f"Mean of 'petal_width': {df['PetalWidthCm'].mean()}")

Mean of 'petal_width': 1.1986666666666668

In [13]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [14]:
df.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
34,35,4.9,3.1,1.5,0.1,Iris-setosa
30,31,4.8,3.1,1.6,0.2,Iris-setosa
78,79,6.0,2.9,4.5,1.5,Iris-versicolor
89,90,5.5,2.5,4.0,1.3,Iris-versicolor
67,68,5.8,2.7,4.1,1.0,Iris-versicolor

In [15]:
df.describe(include='all')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
count,150.000000,150.000000,150.000000,150.000000,150.000000,150
unique,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,NaN,Iris-setosa
freq,NaN,NaN,NaN,NaN,NaN,50
mean,75.500000,5.843333,3.054000,3.758667,1.198667,NaN
std,43.445368,0.828066,0.433594,1.764420,0.763161,NaN
min,1.000000,4.300000,2.000000,1.000000,0.100000,NaN
25%,38.250000,5.100000,2.800000,1.600000,0.300000,NaN
50%,75.500000,5.800000,3.000000,4.350000,1.300000,NaN
75%,112.750000,6.400000,3.300000,5.100000,1.800000,NaN
max,150.000000,7.900000,4.400000,6.900000,2.500000,NaN

In [16]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [17]:
df.shape

(150, 6)

In [18]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [19]:
print("\nSummary of Variables:")
for col in df.columns:
    if df[col].dtype == 'object':
        print(f"{col}: Character (String)")
    elif df[col].dtype == 'int64':
        print(f"{col}: Integer")
    elif df[col].dtype == 'float64':
        print(f"{col}: Numeric")
    elif df[col].dtype == 'bool':
        print(f"{col}: Logical (Boolean)")
    else:
        print(f"{col}: Unknown")

Summary of Variables:
Id: Integer
SepalLengthCm: Numeric
SepalWidthCm: Numeric
PetalLengthCm: Numeric
PetalWidthCm: Numeric
Species: Character (String)

In [20]:
df1 = pd.read_csv('IRIS.csv')

In [21]:
df1.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [22]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [24]:
df1['Species'] = le.fit_transform(df1['Species'])

In [25]:
df1.sample(5)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
144  145            6.7           3.3            5.7           2.5        2
44    45            5.1           3.8            1.9           0.4        0
30    31            4.8           3.1            1.6           0.2        0
107  108            7.3           2.9            6.3           1.8        2
57    58            4.9           2.4            3.3           1.0        1